<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
	<script src="angular.min.js"></script>
	<script src="app.js"></script>
  </head>

<body ng-app="LunchCheck">
   <h1>Lunch Checker</h1>
  <div ng-controller="LunchCheckController">
    

         <div>
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-model="items" >
         </div>
		 
		 
        <div>
             <button ng-click="qtyCheck();">Check If Too Much</button>
         </div>
	  
	  <div>
      {{ qty }}
      </div>
	   <div>
      {{ statement }}
      </div>
	  
  </div>
</body>

</html>